{% extends 'base.html.twig' %}

{% block title %}Package index{% endblock %}

{% block body %}
    <h1>Package index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Name</th>
                <th>Time</th>
                <th>ForGender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.price }}</td>
                <td>{{ package.name }}</td>
                <td>{{ package.time ? package.time|date('H:i:s') : '' }}</td>
                <td>{{ package.forGender ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('package_show', {'id': package.id}) }}">show</a>
                    <a href="{{ path('package_edit', {'id': package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('package_new') }}">Create new</a>
{% endblock %}
