{% extends 'base.html.twig' %}

{% block title %}Appointment index{% endblock %}

{% block body %}
    <h1>Appointment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Time_hour</th>
                <th>commantaire</th>
                <th>staff</th>
                <th>customer</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.id }}</td>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
                <td>{{ appointment.timeHour ? appointment.timeHour|date('H:i:s') : '' }}</td>
                <td>{{ appointment.Name }}</td>
                <td>{{ appointment.staff }}</td>
                <td>{{ appointment.customer }}</td>


                <td>
                    <a href="{{ path('appointment_show', {'id': appointment.id}) }}">show</a>
                    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('appointment_new') }}">Create new</a>
{% endblock %}
