{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time_hour</th>
                <td>{{ appointment.timeHour ? appointment.timeHour|date('H:i:s') : '' }}</td>
            </tr>
             <tr>
                <th>commentary</th>
                <td>{{ appointment.Name }}</td>
            </tr>
            <tr>
                <th>staff</th>
                <td>{{ appointment.staff }}</td>
            </tr>
            <tr>
                <th>customer</th>
                <td>{{ appointment.customer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('appointment_index') }}">back to list</a>

    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
